@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500&family=Rubik:wght@300;400&display=swap");

$gutter: 28px;
$color-white: #fff;
$color-primary-white: #fefefe;
$color-secondary-white: #efefef;
$color-black: #000;
$color-primary-black: #000;

.slotMachineNoTransition {
  transition: none !important;
}

.slotMachineBlurFast {
  filter: blur(5px);
}

.slotMachineBlurMedium {
  filter: blur(3px);
}

.slotMachineBlurSlow {
  filter: blur(2px);
}

.slotMachineBlurTurtle {
  filter: blur(1px);
}

:root {
  --transp: scaleX(0);
}
html,
body {
  margin: 0 auto;
}
.machine {
  width: 100vw;
  //max-width: 500px;
  //padding: ($gutter * 3) 0;
  background: $color-white;
  margin: 0 auto;
  font-family: "Rubik";
  //display: grid;
  //place-items: center;
  /*@media only screen and(min-width: 1px) {
    width: 95vw;
  }
  @media only screen and(min-width: 399px) {
    width: 87vw;
  }
  @media only screen and(min-width: 499px) {
    width: 70vw;
  }
  @media only screen and(min-width: 750px) {
    width: 48vw;
  }
  @media only screen and(min-width: 900px) {
    width: 40vw;
  }
  @media only screen and(min-width: 1024px) {
    max-width: 350px;
  }*/
  .wrap {
    width: 300px; //100%
    //max-width: calc(100% - 10px);
    //height: 400px; //auto
    //padding: 2% 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    transition: all 450ms ease-in-out;
    border: none;
    @media only screen and (max-width: 1114px) {
      align-items: center;
    }
    @media screen and (min-width: 900px) {
      transform: scale(1.4);
    }

    /*@media only screen and (max-width: 320px) {
      max-width: 100vw;
    }*/
    &::before {
      width: 100%;
      position: absolute;
      top: 0;
      display: block;
      content: "";
      border-top: 2px solid #db1976;
      transform: var(--transp);
      transition: transform 600ms ease-in-out;
    }
    &::after {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: block;
      content: "";
      border-bottom: 2px solid #1796c2;
      transform: var(--transp);
      transition: transform 600ms ease-in-out;
    }
  }
  .column {
    display: inline-block;
    //padding: 0 2%;
    overflow: hidden;
    //width: 100%;
    width: 180px;
    height: auto;
    // margin-top: $gutter * 0.75;
    @media only screen and (max-width: 375px) {
      overflow: visible;
    }
    @media only screen and (max-width: 320px) {
      // transform: scale(0.75);
    }
  }
  .row {
    clear: both;
  }
  .optionContainer,
  .option {
    height: ($gutter * 5);
    //background: rgb(235, 222, 222);
  }
  .optionContainer {
    background: #f2f3f3;
    //margin: 0 auto ($gutter * 0.5);
  }
  .option {
    box-sizing: border-box;
    display: block;
    //padding: 24px;
    text-align: center;
    div {
      display: inline-block;
      position: relative;
      top: 51%;
      transform: translateY(-50%);
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      img,
      svg {
        max-width: 100px;
        transform: scale(1);
      }
    }

    p {
      font-size: 0.7rem;
      color: #2b2765;
      text-transform: uppercase;
    }
  }
  .mashupButton {
    position: relative;
    text-align: center;
    margin-top: 3%;
    @media only screen and (max-width: 599px) {
      transform: scale(0.8);
    }
    .button {
      display: inline-block;
      font-size: 24px;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      background: #2b2765;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

svg {
  .st0 {
    fill: none;
    stroke: #2b2765;
    stroke-miterlimit: 10;
  }
  .st1 {
    fill: none;
    stroke: #2b2765;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: none;
    stroke: #2b2765;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st3 {
    fill: none;
    stroke: #2b2765;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 4;
  }
}

/*.icon2 {
  display: inline-block;
  @media only screen and (max-width: 1114px) {
    display: block;
  }
  div {
    transform: scale(3) translateY(-40px);
    @media only screen and (max-width: 1114px) {
      transform: scale(3) translateY(0px);
    }
  }
}
*/

.icon2 {
  display: inline-block;
  max-width: 80px;
  max-height: 120px;
  span {
    img {
      max-width: 200px;
    }
  }
}

.disabledBtn {
  pointer-events: none;
}
